.health-display {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 26px;
  border-radius: 2px;

  border: 2px solid white;

  .health-bar {
    background-color: rgb(61, 224, 61);
    height: 100%;

    transition: width 0.25s ease-out;
  }
}
